.primary {
    background-color: var(--main-primary);
    color : var(--on-primary);
}
.primary-inversed {
    color: var(--main-primary);
    background-color: var(--on-primary);
}
.primary-variant {
    background-color: var(--main-primary-variant);
}
.primary-font {
    color: var(--main-primary);
}
.secondary {
    background-color: var(--main-secondary);
    color : var(--on-secondary);
}
.secondary-variant {
    background-color: var(--main-secondary-variant);
}
.surface {
    background-color: var(--surface);
    color : var(--on-surface);
    border: 1px solid var(--surface-border);
}
.background {
    background-color: var(--surface);
    color : var(--on-surface);
}
/** Specific message **/
.error {
    background-color: var(--error);
    color : var(--on-error);
}
/** Test transform **/
.pointer {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}
/** Link **/
.a-like {
    text-decoration: underline;
    cursor: pointer;
}
.a-like:hover, a:hover {
    color: var(--main-primary);
}
.a-like.primary:hover, a.primary:hover {
    color: var(--main-secondary);
}
/** Positionement **/
.v-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-align-center {
    text-align: center;
}
/** Width **/
.sw100 {
    width: 100%
}
.sw50 {
    width: 50%;
}
.sw100-2 {
    width: calc(100% - 2em);
}
@media screen and (max-width: 640px) {
    .sw100-resp {
        width: 100%;
    }
}
/** Font **/
.font15 {
    font-size: 1.4rem;
}
.bold {
    font-weight: bolder;
}
/** Padding **/
.padding_0_1 {
    padding: 0 1em;
}
.padding_05_1 {
    padding: 0.5em 1em;
}
.padding_1_0 {
    padding: 1em 0;
}
.padding_1 {
    padding: 1em;
}
.padding_top_3 {
    padding-top: 3em;
}
/** Margin **/
.margin_0_1 {
    margin: 0 1em;
}
.margin_05_1 {
    margin: 0.5em 1em;
}
.margin_1_0 {
    margin: 1em 0;
}
.margin_1 {
    margin: 1em;
}
/** Flex **/
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex_h-center {
    display: flex;
    justify-content: center;
}
.flex_v-center {
    display: flex;
    align-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
/** Background **/
.bg-norepeat {
    background-repeat: no-repeat;
}
.bg-center {
    background-position: center center;
}
/** Display **/
.display-inline-block {
    display: inline-block;
}
/** Vue animation **/
    /** fade **/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
    /** slide **/
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
/** List **/
.list-1 {
    margin: 0;
    padding: 0;
}
.list-1 li {
    list-style-type: none;
}
